<div class="body-container">
    <form action="/atualizarPerfil" method="post" class="card font-imprima">
        <label for="nome">Nome</label>
        <input type="text" class="input font-imprima p" value={{logged.nome}} name="nome" />
        <label for="email">Email</label>
        <input type="email" class="input font-imprima p" value={{logged.email}} name="email" />
        <label for="telefone">Telefone</label>
        <input type="text" class="input font-imprima p" value={{logged.telefone}} name="telefone" />
        <label for="endereco">Endereço</label>
        <input type="text" class="input font-imprima p" value={{logged.nome}} name="endereco" />
        <input type="hidden" value="{{logged.id}}" name="id">
        <button class="btn font-imprima h3-imprima">Alterar informações</button>
    </form>
</div>
</div>